body {
	max-width: 80%;
	justify-content: space-between;
	font-family: 'Khula', sans-serif;
}
#mainnav {
	margin: 0 auto;
	padding: 10px;
	background-color: #FFB4B0;
	border: 3px solid black;
	font-size: 1.2em;
}

#nav li {	
	list-style: none;
	display: inline-flex;
}

#container {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	margin: 20px;
	align-items: stretch;
	min-height: 500px;



}
#input {
	background-color: #4DD7FA; 
	border: 3px solid black;
	cursor: pointer;
	padding: 10px;
	font-size: 1em;
	width: 30%;
	margin-right: 8%;
}

#songs {
	background-color: #FEFAC0;
	border: 3px solid black;
	font-size: 1em;
	text-align: left;
	width: 66%;
	padding-left: 3%;
}
 #songs h2 {
 	color: #785616;
 
 }

#songs p {
	padding-left: 10%;
}

 #songs #album {
 	border: 3px solid black;
 	background-color: white;
 	border-radius: 6px;
 	
 	font-size: .5em;
 	width: 80%;
 }

 .label {
 	padding: 5px 0 0 10px;
 }

#genere {
 	cursor: pointer;
 	padding: 0 5% 0 5%;
 }

 #button {
 	margin-left: 30%;
 	border: 3px solid black;
 }
